{% extends 'base.html' %} {% block title %}
{{ super() }}
Libros {% endblock %} {% block main %}
<div class="centrar">
  <div class="formulario">
    <h1 class="title">Consulta el título que tu quieras:</h1>
    <form action="/" method="POST">
      <input
        class="input is-rounded"
        type="text"
        name="libro"
        required
        autofocus
      />
      <br /><br /><br /><br />
      <button class="button is-info" type="submit">Consultar</button>
    </form>

    {% if error %}

    <h1>{{ error }}</h1>

    {% endif %}

    {% if libros != None and libros|length > 0 %}
    
    <form action="/" method="POST">
      <ul>
        {% for i in range(libros|length) %}
          <h1>Libro: {{ libros[i][0] }}</h1>
          <h2>Autor: {{ libros[i][1] }}</h2>
          <h2>Año de salida: {{ libros[i][3] }}</h2>
          <h2>Precio: {{ libros[i][2] }}€</h2><br>
          <h3>*****************************************</h3><br>

        {% endfor %}
      </ul>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}